
/* font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeon Sung', system-ui; */


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200&family=Poppins:wght@300;400;500&family=Yeon+Sung&display=swap');

.Header{
  font-family: 'Kanit', sans-serif;
}
.Register{
  font-family: 'Yeon Sung', system-ui;
}
.AddProduct{
  font-family: 'Yeon Sung', system-ui;
}
.ProductName{
  font-family: 'Yeon Sung', system-ui;
}
.Product{
  font-family: 'Kanit', sans-serif;
}